<section id="uber-search">
	<%= render partial: "search/bar" %>
</section>

<section id="actions">
	<div class="pure-g-r" style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 2px solid #bbb;">
		<div class="pure-u-1-4">
			<%= link_to "Farmers Markets", markets_path, :class => "index-action-button" %>
		</div>
		<div class="pure-u-1-4">
			<%= link_to "Food Lists", "/food", :class => "index-action-button" %>
		</div>
		<div class="pure-u-1-4">
			<%= link_to "Producers Directory", businesses_path, :class => "index-action-button" %>
		</div>
		<div class="pure-u-1-4">
			<%= link_to "Other Resources", "/resources", :class => "index-action-button" %>
		</div>
	</div>
</section>

<section id="in-season">
	<h2>Popular Searches</h2>
	<div class="pure-g-r vertical-margin">
		<div class="pure-u-1-3">
			<%= link_to "/food/23/peaches" do %>
				<%= image_tag "peaches.jpg", :style => "width: 300px;", :alt => "Peaches" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/15/beets" do %>
				<%= image_tag "beets.jpg", :style => "width: 300px;", :alt => "Beets" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/25/squash" do %>
				<%= image_tag "squash.jpg", :style => "width: 300px;", :alt => "Squash" %>
			<% end %>
		</div>
	</div>
	
	<div class="pure-g-r" style="margin-bottom: 20px; padding-bottom: 30px; border-bottom: 2px solid #bbb;">
		<div class="pure-u-1-3">
			<%= link_to "/food/6/cherries" do %>
				<%= image_tag "cherries.jpg", :style => "width: 300px;", :alt => "Carrots" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/20/chili-peppers" do %>
				<%= image_tag "peppers.jpg", :style => "width: 300px;", :alt => "Peppers" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/7/radishes" do %>
				<%= image_tag "radishes.jpg", :style => "width: 300px;", :alt => "Radishes" %>
			<% end %>
		</div>
	</div>
</section>

<section id="for-producers">
	<h2>Getting Involved!</h2>
	<div class="pure-g-r" style="margin-bottom: 20px;">
		<div class="pure-u-1-2">
			<div style="width: 100%;">
				<div style="margin: 0px 20px 20px 20px; padding: 20px; background-color: #eee;">
					<span style="font-size: 24px; color: #333;">Are you looking for some grubb?</span><br><br>
					<span style="font-size: 14px; color: #555; line-height: 18px;">
					Grubb.io is a great place to find local foods around your neighborhood.  It provides a great directory of resources around your area to help get you involved in the local food movement.  By working with local food providers, you are not only discovering a delicious source of food, but you are also contributing directly to your local economy all while saving the environment.  Not bad for a Saturday morning.</span><br><br>
					<%= link_to "Sign Up Now!", new_user_registration_path, :class => "index-subaction-button" %>
				</div>
			</div>
		</div>
		<div class="pure-u-1-2">
			<div style="width: 100%;">
				<div style="margin: 0px 20px 20px 20px; padding: 20px; background-color: #eee;">
					<span style="font-size: 24px; color: #333;">Producer of fine quality foods?</span><br><br>
					<span style="font-size: 14px; color: #555; line-height: 18px;">
					By uploading information about your produce and organization, we are able to spread the word about your work.  People are searching for providers of high quality food and we're there to help them find you.</span><br><br><br><br><br><br><br>
					<%= link_to "Get Started!", businesses_path, :class => "index-subaction-button" %>
				</div>
			</div>
		</div>
	</div>
</section>
