<%= render partial: "search/bar" %>

<section class="wrapper row">
	<h2>Popular Searches</h2>
	<ul class="popular-search-list">
		<li>
			<%= link_to "/food/23/peaches" do %>
				<%= image_tag "peaches.jpg", :style => "width: 300px;", :alt => "Peaches" %>
			<% end %>
		</li>

		<li>
			<%= link_to "/food/15/beets" do %>
				<%= image_tag "beets.jpg", :style => "width: 300px;", :alt => "Beets" %>
			<% end %>
		</li>

		<li>
			<%= link_to "/food/25/squash" do %>
				<%= image_tag "squash.jpg", :style => "width: 300px;", :alt => "Squash" %>
			<% end %>
		</li>

		<li>
			<%= link_to "/food/6/cherries" do %>
				<%= image_tag "cherries.jpg", :style => "width: 300px;", :alt => "Cherries" %>
			<% end %>
		</li>

		<li>
			<%= link_to "/food/20/chili-peppers" do %>
				<%= image_tag "peppers.jpg", :style => "width: 300px;", :alt => "Peppers" %>
			<% end %>
		</li>

		<li>
			<%= link_to "/food/7/radishes" do %>
				<%= image_tag "radishes.jpg", :style => "width: 300px;", :alt => "Radishes" %>
			<% end %>
		</li>
	</ul>
</section>