<section id="uber-search">
	<%= render partial: "search/bar" %>
</section>

<section id="in-season">
	<h2>Popular Searches</h2>
	<div class="pure-g-r vertical-margin">
		<div class="pure-u-1-3">
			<%= link_to "/food/1/peaches" do %>
				<%= image_tag "peaches.jpg", :style => "width: 300px;", :alt => "Peaches" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/2/beets" do %>
				<%= image_tag "beets.jpg", :style => "width: 300px;", :alt => "Beets" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= link_to "/food/4/squash" do %>
				<%= image_tag "squash.jpg", :style => "width: 300px;", :alt => "Squash" %>
			<% end %>
		</div>
	</div>
	
	<div class="pure-g-r">
		<div class="pure-u-1-3">
			<%= link_to "/food/5/cherries" do %>
				<%= image_tag "cherries.jpg", :style => "width: 300px;", :alt => "Carrots" %>
			<% end %>
		</div>
		<div class="pure-u-1-3">
			<%= image_tag "peppers.jpg", :style => "width: 300px;", :alt => "Peppers" %>
		</div>
		<div class="pure-u-1-3">
			<%= image_tag "radishes.jpg", :style => "width: 300px;", :alt => "Radishes" %>
		</div>
	</div>
</section>

<section id="for-producers">
	<h2>Are you a Producer?</h2>
	<div>
		<span style='font-size: 18px;'>
			Show off your grub! <%= link_to "Setup A Producer Profile", businesses_path %>
		</span>
	</div>
</section>
