%header
  %h2
    Here's what we found:
#market-count
  - if @search.present? && @markets.count > 0
    %h4
      = "#{@total_count} markets matching #{@search[:query]} within #{@search[:distance]} miles of #{@search[:location]}:"
.well.lite
  - if @markets.count > 0
    %table{:style => "width: 100%; font-size: 14px;", :id => "market-list-table"}
      %tr
        %th
          Name
        %th
          City, State
        %th
          Website:
      - @markets.each do |market|
        %tr
          %td
            = link_to market.market_name, market_path(market)
          %td
            = market.city
            , #{market.state}
          %td
            - if market.website
              = link_to "#{market.website}", market.website, target: '_blank'
  - else
    %h3
      = "#{@total_count} markets matching #{@search[:query]} within #{@search[:distance]} miles of #{@search[:location]}"
    %h4
      = "Try increasing your search radius or changing your location"

= paginate @markets