#market-search-container
  = semantic_form_for :search, url: "/markets", method: :get, html: {id: "market-search-form", class: "form-inline"} do |f|

    = f.inputs name: "Filter markets" do
      = f.input :query, as: :string
      .sub-col-split
        = f.input :distance, collection: options_for_select([5, 10, 15, 25, 35, 50], 10)
      .sub-col-split
        = f.input :location, as: :string, input_html: {class: "input-medium"}
    = f.actions do
      = f.action :submit, :as => :button, html: {id: "submit-search-button"}
      = f.action :cancel, :as => :link

