<p id="notice"><%= notice %></p>

<p>
  <b>Fmid:</b>
  <%= @market.fmid %>
</p>

<p>
  <b>Market name:</b>
  <%= @market.market_name %>
</p>

<p>
  <b>Website:</b>
  <%= @market.website %>
</p>

<p>
  <b>Street:</b>
  <%= @market.street %>
</p>

<p>
  <b>City:</b>
  <%= @market.city %>
</p>

<p>
  <b>County:</b>
  <%= @market.county %>
</p>

<p>
  <b>State:</b>
  <%= @market.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @market.zip %>
</p>

<p>
  <b>Schedule:</b>
  <%= @market.schedule %>
</p>

<p>
  <b>X:</b>
  <%= @market.x %>
</p>

<p>
  <b>Y:</b>
  <%= @market.y %>
</p>

<p>
  <b>Location:</b>
  <%= @market.location %>
</p>

<p>
  <b>Credit:</b>
  <%= @market.credit %>
</p>

<p>
  <b>Wic:</b>
  <%= @market.wic %>
</p>

<p>
  <b>Wic cash:</b>
  <%= @market.wic_cash %>
</p>

<p>
  <b>Sfmnp:</b>
  <%= @market.sfmnp %>
</p>

<p>
  <b>Snap:</b>
  <%= @market.snap %>
</p>

<p>
  <b>Bakedgoods:</b>
  <%= @market.bakedgoods %>
</p>

<p>
  <b>Cheese:</b>
  <%= @market.cheese %>
</p>

<p>
  <b>Crafts:</b>
  <%= @market.crafts %>
</p>

<p>
  <b>Flowers:</b>
  <%= @market.flowers %>
</p>

<p>
  <b>Eggs:</b>
  <%= @market.eggs %>
</p>

<p>
  <b>Seafood:</b>
  <%= @market.seafood %>
</p>

<p>
  <b>Herbs:</b>
  <%= @market.herbs %>
</p>

<p>
  <b>Vegetables:</b>
  <%= @market.vegetables %>
</p>

<p>
  <b>Honey:</b>
  <%= @market.honey %>
</p>

<p>
  <b>Jams:</b>
  <%= @market.jams %>
</p>

<p>
  <b>Maple:</b>
  <%= @market.maple %>
</p>

<p>
  <b>Meat:</b>
  <%= @market.meat %>
</p>

<p>
  <b>Nursery:</b>
  <%= @market.nursery %>
</p>

<p>
  <b>Nuts:</b>
  <%= @market.nuts %>
</p>

<p>
  <b>Plants:</b>
  <%= @market.plants %>
</p>

<p>
  <b>Poultry:</b>
  <%= @market.poultry %>
</p>

<p>
  <b>Prepared:</b>
  <%= @market.prepared %>
</p>

<p>
  <b>Soap:</b>
  <%= @market.soap %>
</p>

<p>
  <b>Trees:</b>
  <%= @market.trees %>
</p>

<p>
  <b>Wine:</b>
  <%= @market.wine %>
</p>

<p>
  <b>Update time:</b>
  <%= @market.update_time %>
</p>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
