%nav.main-nav
	%h1.logo
		= link_to "Grubbio", root_path
		%span your local source
	%ul#main-nav
		%li#home-nav-item.nav-item
			= link_to "Home", root_path
		%li#markets-nav-item.nav-item
			= link_to "Markets", markets_path
		%li#foods-nav-item.nav-item
			= link_to "Foods", food_products_path
		- if current_user.present? && current_user.has_role?("producer")
			%li#producers-nav-item.nav-item
				= link_to "Producers", businesses_path
		%li#help-nav-item.nav-item
			= link_to "Help", "#"