%nav.main-nav{:style => "width:100%;"}
  %h1
    = link_to "Grubb.io", root_path, style: "color: #fff; text-decoration: none;"
    %span your local source
  %span#markets-nav-item.nav-item
    = link_to "Markets", markets_path
  %span#foods-nav-item.nav-item
    = link_to "Foods", food_products_path
  - if current_user.present? && current_user.has_role?("producer")
    %span#producers-nav-item.nav-item
      = link_to "Producers", businesses_path
  %span#help-nav-item.nav-item
    = link_to "Help", "#"